body
{
  background-image: url(../images/EVSU.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: contain;

}
.col-centered{
    float: none;
    margin: 0 auto;
}
.padding_zero
{
  padding:0;
}
#menu-toggle
{
  margin-left:-23px;
  margin-top:-25px;
  height:40px;
  background: #B22222;
}
